<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Ajouter un poste</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="signin.pĥp">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>Ajouter un poste</h1>
                <form action="Liste de tous les postes.html" method="get">
        <label for="salle">Salle : </label>
        <input type="number" id="salle" name="salle" value="0"><br>
        <label for="os">OS : </label>
        <select id="os" name="os">
            <option value="Ubuntu" selected="selected">Ubuntu</option>
            <option value="Debian">Debian</option>
            <option value="MacOS">MacOS</option>
            <option value="Windows">Windows</option>
        </select><br>
        <input type="submit" value="Ajouter">
    </form>
        </main>


</body></html>
