<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Manage postes</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="signin.pĥp">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>Manage postes</h1>
                <p>
		adrien, bienvenue sur la gestion des postes.<br>
		Choisis l'une de ces fonctionnalités :
	</p>
	<p><a href="Liste de tous les postes.html">Voir tous les postes</a></p>
	<p><a href="Liste des réservations.html">Voir toutes les réservations</a></p>
	<p><a href="Ajouter un poste.html">Ajouter un poste</a></p>
	<p><a href="Ajouter une réservation.html">Ajouter une réservation</a></p>
	<p><a href="Liste de mes reservations.html">Voir mes réservations</a></p>
        </main>


</body></html>
