<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Liste de tous les postes</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="signin.pĥp">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>Liste de tous les postes</h1>
                <table>
		<tbody><tr>
			<th>N° de poste</th>
			<th>Salle</th>
			<th>OS</th>
			<th>Actions</th>
		</tr>
        			<tr>
				<td>1</td>
				<td>5</td>
				<td>Ubuntu</td>
				<td>
					<a href="Réservations du poste n°1.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>2</td>
				<td>5</td>
				<td>Windows</td>
				<td>
					<a href="Réservations du poste n°2.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>3</td>
				<td>5</td>
				<td>Debian</td>
				<td>
					<a href="Réservations du poste n°3.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>4</td>
				<td>5</td>
				<td>MacOS</td>
				<td>
					<a href="Réservations du poste n°4.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>5</td>
				<td>17</td>
				<td>Ubuntu</td>
				<td>
					<a href="Réservations du poste n°5.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>6</td>
				<td>17</td>
				<td>Debian</td>
				<td>
					<a href="Réservations du poste n°6.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>7</td>
				<td>105</td>
				<td>Ubuntu</td>
				<td>
					<a href="Réservations du poste n°7.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>8</td>
				<td>105</td>
				<td>MacOS</td>
				<td>
					<a href="Réservations du poste n°8.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>9</td>
				<td>106</td>
				<td>Ubuntu</td>
				<td>
					<a href="Réservations du poste n°9.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
        			<tr>
				<td>10</td>
				<td>106</td>
				<td>Debian</td>
				<td>
					<a href="Réservations du poste n°10.html">Réservations</a> -
					<a href="#">Supprimer</a>
				</td>
			</tr>
            </tbody></table>
        </main>


</body></html>
