<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Liste de mes postes</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="signin.pĥp">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>Liste de mes postes</h1>
                        <p>Poste  n°1 : </p>
        <ul>
            <li>De 2018-12-13
				à 2018-12-20 </li>
			            	<li>Administrateur</li>
			        </ul>
            <p>Poste  n°2 : </p>
        <ul>
            <li>De 2018-12-14
				à 2018-12-25 </li>
							<li>Simple utilisateur</li>
			        </ul>
            </main>


</body></html>
