<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>    Liste des réservations
</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="signin.pĥp">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>    Liste des réservations
</h1>
                        <table>
            <tbody><tr>
                <th>N° de poste</th>
    			<th>Utilisateur</th>
    			<th>Début de réservation</th>
    			<th>Fin de réservation</th>
                <th>Droits</th>
            </tr>
                            <tr>
                    <td>1</td>
                    <td>adrien</td>
                    <td>2018-12-13</td>
                    <td>2018-12-20 </td>
                    <td>
                                                    Administrateur
                                            </td>
    				<td>
    					<a href="#">Supprimer</a>
    				</td>
                </tr>
                            <tr>
                    <td>2</td>
                    <td>adrien</td>
                    <td>2018-12-14</td>
                    <td>2018-12-25 </td>
                    <td>
                                                    Utilisateur
                                            </td>
    				<td>
    					<a href="#">Supprimer</a>
    				</td>
                </tr>
                            <tr>
                    <td>5</td>
                    <td>gil</td>
                    <td>2018-12-13</td>
                    <td>2018-12-24 </td>
                    <td>
                                                    Utilisateur
                                            </td>
    				<td>
    					<a href="#">Supprimer</a>
    				</td>
                </tr>
                            <tr>
                    <td>7</td>
                    <td>gabriel</td>
                    <td>2018-12-01</td>
                    <td>2018-12-11 </td>
                    <td>
                                                    Utilisateur
                                            </td>
    				<td>
    					<a href="#">Supprimer</a>
    				</td>
                </tr>



</tbody></table></main></body></html>
