<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>My account</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="signin.pĥp">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>My account</h1>
                <p>
		Hello adrien !<br>
		Welcome on your account.
	</p>
	<p><a href="Change password.html">Change my password</a></p>
	<p><a href="signin.pĥp">Delete my account</a></p>
        </main>


</body></html>
