<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Change password</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="Signin.html">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>Change password</h1>
            	<form action="My account.html" method="get">
		<label for="newpassword">New password</label>         <input type="password" id="newpassword" name="newpassword">
		<label for="confirmpassword">Confirm password</label> <input type="password" id="confirmpassword" name="confirmpassword">
		<input type="submit" value="Change my password">
	</form>
        </main>


</body></html>
