<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>    Réservations du poste n°6
</title>
    </head>
    <body>
        <header>
            <nav>
                	<ul>
    <li><a href="My account.html">Home</a></li>
    <li><a href="Manage postes.html">Postes</a></li>
    <li><a href="Signin.html">Signout</a></li>
</ul>
            </nav>
        </header>
        <main>
            <h1>    Réservations du poste n°6
</h1>
                        <p>Il n'y a actuellement aucune réservation.</p>
            </main>


</body></html>
